.Dropdown {
    width: 250px;
    margin: 10px auto;
    cursor: pointer;
}

.Title,
.List {
    width: 100%;
    border-radius: 1px;
    border: 1px solid #ddd;
    list-style-type: none;
    text-align: left;
}

.Title,
.ListItem {
    padding: 5px;
}

.ListItem:hover {
    background-color: #ddd;
}

.Icon {
    float: right;
}