.Dropdown {
    width: 250px;
    margin: 10px auto 30px;
    cursor: pointer;
    position: relative;
    top: 0px;
}

.Title,
.List {
    width: 250px;
    border-radius: 1px;
    border: 1px solid #ddd;
    list-style-type: none;
    text-align: left;
    background-color: #fff;
    position: absolute;
    z-index: 200; 
}

.List {
    top: 37px;
}

.Title,
.ListItem {
    padding: 5px;
}

.ListItem:hover {
    background-color: #ddd;
}

.Icon {
    float: right;
}