.Select {
    width: 180px;
    display: inline-block;
    margin: 10px 10px 0;
    padding: 5px;
    font-size: inherit;
}

@media (max-width: 767px) {
    .Select {
      display: block;
      margin: 10px auto 0;
    }
  }