.SaveBtn {
  float: right;
  font-size: inherit;
  border: none;
  background-color: #33658a;
  color: white;
  cursor: pointer;
  padding: 2px 5px;
  margin: 7px 20px;
}

.BackBtn {
  float: left;
  text-decoration: none;
  border: none;
  background-color: #fff;
  color: #33658a;
  cursor: pointer;
  font: inherit;
  margin: 7px 20px;
}

.BottomControls {
  height: 40px;
  width: 100%;
  position: sticky;
  bottom: 0;
  background-color: #fff;
  border-bottom: 2px solid #666;

}