.Btns {
  display: block;
  width: 100%;
  text-align: right;
  margin-top: 5px;
}

.SaveBtn {
  font-size: inherit;
  border: none;
  background-color: #33658a;
  color: white;
  cursor: pointer;
  padding: 2px 5px;
}

.BackBtn {
  text-decoration: none;
  border: none;
  background-color: #fff;
  color: #33658a;
  cursor: pointer;
  font: inherit;
  margin: 0 20px;
}
