.SaveBtn {
  float: right;
  font-size: inherit;
  border: none;
  background-color: #33658a;
  color: white;
  cursor: pointer;
  font-size: inherit;
  padding: 5px 10px;
  margin: 7px 10px;
}

.BackBtn {
  float: left;
  text-decoration: none;
  border: none;
  background-color: #fff;
  color: #33658a;
  cursor: pointer;
  font-size: inherit;
  padding: 5px 10px;
  margin: 7px 10px;
}

.BottomControls {
  height: 50px;
  width: 100%;
  position: sticky;
  bottom: 0;
  background-color: #fff;
  border-bottom: 2px solid #666;
}

.ActionBtns { width: 100% }