.Budgets {
    width: 730px;
    margin: 10px auto;
    position: relative;
}

.Budgets ul {
    list-style-type: none;
    border: 1px solid #333;
    padding: 0;
    margin-top: 10px;
}

.AddBtn {
    position: absolute;
    right: 0;
    top: 10px;
}


@media (max-width: 767px) {
    .Budgets { width: 95%; }
}

@media (max-width: 480px) {
    .AddBtn {
        position: relative;
        display: inline-block;
    }
}
