.MenuItems {
  display: flex;
  flex-flow: column;
  list-style: none;
}

.MenuItems > li {
  margin-top: 10px;
}

.Bottom {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
}
