.Btns {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
}

.SaveBtn {
  font-size: inherit;
  border: none;
  background-color: #33658a;
  color: white;
  cursor: pointer;
  padding: 2px 5px;
}

.BackBtn {
  text-decoration: none;
  border: none;
  background-color: #fff;
  color: #33658a;
  cursor: pointer;
  font: inherit;
  margin-left: 10px;
}
