.Modal {
  width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: #fff;
  padding: 10px;
}

.Title {
  padding: 5px;
  border-bottom: 1px solid #333;
  width: 100%;
  display: inline-block;
  text-align: left;
}

.Message {
  margin: 20px auto 10px;
}

.Buttons {
  float: right;
  margin-top: 10px;
}

.OKBtn {
    background-color: #33658a;
    color: #fff;
    border-style: none;
}

.OKBtn:hover {
  background-color: #86bbd8;
}

.CancelBtn {
    background-color: #ddd;
    color: #333;
    border: 1px solid #333;
}

.CancelBtn:hover {
    background-color: #eee;
    color: #888;
    border-color: #888;
}

.OKBtn,
.CancelBtn {
  width: 90px;
  margin-left: 20px;
  padding: 5px;
  cursor: pointer;
  font-size: inherit;
  padding: 10px;
}

@media (max-width: 767px) {
  .Button {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .Modal {
    width: 95%;
  }
}
