.Toolbar {
  text-align: center;
  height: 40px;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 300;
  margin: 0;
  padding: 0;
  background-color: #555;
}

.Title {
  display: inline-block;
  margin: 5px 0;
  color: #fff;
}

.Navigation {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: flex-end;
  width: 30%;
}

.TopBtn {
  text-decoration: none;
  border: none;
  background-color: #fff;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 5px 10px;
  background-color: #555;
}
