.Toolbar {
  text-align: center;
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 300;
  margin: 0;
  padding: 0;
  background-color: #333;
  border: none;
}

.Navigation {
  height: 100%;
  width: 100%;
  position: relative;
}

.Title {
  display: inline-block;
  color: #fff;
  margin-top: 5px;
}

.LeftBtn {
  position: absolute;
  top: 5px;
  left: 10px;
}

.RightBtn {
  position: absolute;
  top: 5px;
  right: 10px;
}