.Toolbar {
  text-align: center;
  height: 40px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 300;
  margin: 0;
  padding: 0;
  background-color: #555;
  border: none;
}

.Title {
  display: inline-block;
  color: #fff;
  width: 300px;
  position: relative;
}

.FirstName {
  position: absolute;
  display: inline-block;
  top: 5px;
  left: 20px;
}

.SecondName {
  position: absolute;
  display: inline-block;
  top: 5px;
  right: 20px;
}

.Logo {
  display: inline-block;
}

.Navigation {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: flex-end;
  width: 30%;
}

.TopBtn {
  text-decoration: none;
  border: none;
  background-color: #fff;
  color: #fff;
  cursor: pointer;
  margin: 8px 15px;
  font-size: 100%;
  background-color: #555;
}


@media (max-width: 767px) {
  .FirstName,
  .SecondName {
    display: none;
  }
  .TopBtn {
    font-size: 120%;
  }
}