.Items {
  display: inline-block;
  width: 500px;
  vertical-align: top;
  text-align: center;
  margin: 20px 50px;
}

.Items ul {
  list-style-type: none;
}

@media (max-width: 767px) {
  .Items {
    margin: 10px auto;
  }
}

@media (max-width: 610px) {
  .Items {
    width: 80%;
  }
}
