.Item {
  width: 100%;
  overflow: auto;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  margin-top: 5px;
  padding: 5px 0;
}

.Name {
  float: left;
}

.Amount {
  float: right;
}

.Amount p {
  display: inline-block;
  margin-right: 20px;
}

.Green {
  color: rgb(0, 153, 0);
}

.Red {
  color: rgb(212, 4, 4);
}

.Button {
  width: 0px;
  opacity: 0;
  background-color: rgb(253, 68, 68);
  color: white;
  height: 30px;
  margin: 0;
  border-style: none;
  cursor: pointer;
  overflow: hidden;
  transition: width 0.5s, opacity 0.5s;
}

.Show {
  width: 50px;
  opacity: 1;
}