.Item {
  width: 100%;
  overflow: auto;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  margin-top: 5px;
  padding: 5px 0;
}

.Name {
  float: left;
  margin-left: 5px; 
}

.Amount {
  float: right;
}

.Amount p {
  display: inline-block;
  margin-right: 20px;
}

.Green {
  color: rgb(0, 153, 0);
}

.Red {
  color: rgb(212, 4, 4);
}
