.Item {
  width: 200px;
  overflow: auto;
  cursor: pointer;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
}

.Name {
  float: left;
}

.Amount {
  float: right;
}

.Amount p {
  display: inline-block;
  margin-right: 20px;
}

.Amount button {
  cursor: pointer;
}
.Green {
  color: rgb(27, 255, 27);
}

.Red {
  color: rgb(255, 56, 56);
}
