.Controls {
  width: 100%;
  margin: auto;
  padding: 5px;
}

.Controls > input,
.Radio {
  display: inline-block;
  margin: 10px 10px 0;
  padding: 5px;
}

.Radio input {
  margin-right: 5px;
}

.Radio label:last-of-type {
  margin-left: 20px;
}

.Controls label,
.Controls button {
  cursor: pointer;
}

.Button {
  display: block;
  margin: 10px auto;
  width: 80px;
  border-style: none;
  padding: 10px;
  background-color: blue;
  color: white;
}

.Button:hover {
  background-color: lightblue;
  color: black;
}
