.Controls {
  text-align: center;
}

.Controls input,
.Controls button {
  margin: 10px;
  padding: 2px;
}

.Controls label,
.Controls button {
  cursor: pointer;
}

.Controls button {
  width: 80px;
}

@media (max-width: 500px) {
  .Controls label {
    display: block;
  }
}