.Controls {
  width: 100%;
  margin: auto;
  padding: 5px;
  text-align: center;
}

.Controls > * {
  display: inline-block;
}

.Controls input,
.Controls button {
  margin: 10px;
  padding: 2px;
}

.Controls label,
.Controls button {
  cursor: pointer;
}

.Controls button {
  width: 80px;
}

.Radio {
  display: inline-block;
  text-align: left;
}
