.Background {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(
      rgba(51, 101, 138, 0.5),
      90%,
      rgba(253, 68, 68, 0.4)
    ),
    url("../../assets/images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.LogIn {
  width: 400px;
  height: 500px;
  display: block;
  position: relative;
  margin: 5% auto 0;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 5px;
}

.Keypad {
  margin: 40px auto 0;
  display: block;
  height: 300px;
  width: 300px;
}

.Form {
  display: block;
  width: 300px;
  margin: auto;
}

.Inputs {
  display: block;
  width: 100%;
}

.Buttons {
  display: block;
  width: 100%;
}

@media (max-width: 767px) {
  .LogIn {
    width: 100%;
    height: 100vh;
    margin-top: 0;
    border-radius: 0;
    border: none;
  }

  .LogIn > h1 {
    font-size: 300%;
  }

  .Keypad {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80%;
  }

  .Background {
    background-image: none;
  }
}
